/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.css';

@font-face {
  font-family: yuanti;
  src: url('../assets/fonts/maokengwangtang-yuanti.ttf');
}

body {
  position: relative;
  color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  background: rgb(250, 250, 250);
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  font-family: 'yuanti';
}

#root {
  height: 100vh;
  width: 100vw;
}
